**/.settings/
**/.classpath
**/.project
**/.idea/
**/target/
**/test-output/
**/*.iml
**/*.eml
**/*.ipr
**/*.iws
**/*.log
**/*.ids
**/.DS_Store
**/nbactions.xml
**/nb-configuration.xml
**/Err.log
**/Err.log.*
**/build.properties
build.properties
project.properties
nb-configuration.xml
nbactions.xml
*.orig

/metadata/nbproject/
${env.KIVAKIT_ASSETS_HOME}/
${env.CACTUS_ASSETS_HOME}/
# build product cruft
cactus-maven-model/cactus/
cactus-metadata/cactus/
cactus-cli/cactus/
cactus-git/cactus/
cactus-maven-log/cactus/
cactus-graph/cactus/
cactus-util/cactus/
/cactus-maven-model/nbproject/
/cactus-util/nbproject/
/cactus-codeflowers/cactus/
/cactus-maven-versioning/cactus/
/cactus-maven-xml/cactus/
/cactus-scope/cactus/
/cactus-maven-plugin/nbproject/
/cactus-cli/nbproject/
/wordy/nbproject/
/cactus-test-project-generator/nbproject/
/cactus-git/nbproject/
/cactus-tests/nbproject/
/cactus-tasks/nbproject/
/cactus-process/nbproject/
